/* write your CSS in here */
#header img{ border-radius: 0; }

#logpanel { border-radius: 25px;
}


h1{text-align: center;
	
}

#wk1 p{ padding:15px;
}

.panel-content { padding:15px; }


#map {
	width: 100%;
	height: 200px;
	border:1px solid #000;
}