/* write your CSS in here */




 Layout Small Screens 
@media screen and (min-width: 50px) and (max-width: 480px), only screen and (min-device-width: 50px) and (max-device-width: 480px) {
	#home .ui-body-c {
		background: url(../images/background_small.jpg) no-repeat left top;
	}
	ul {
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-origin:border-box;
	}
	.offline {
	visibility: hidden;
	font-style: bold;
	}
	#map {
	width: 100%;
	height: 200px;
	border:1px solid #000;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px), only screen and (min-device-width: 481px) and (max-device-width: 768px) {
	#home .ui-body-c {
		background: url(../images/background_medium.jpg) no-repeat left top;
	}
	ul {
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-origin:border-box;
	}
	.offline {
	visibility: hidden;
	font-style: bold;
	}
	#map {
	width: 100%;
	height: 300px;
	border:1px solid #000;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px), only screen and (min-width: 769px) and (max-device-width: 1024px)  {
	#home .ui-body-c {
		background: url(../images/background_large.jpg) no-repeat left top;
	}
	ul {
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-origin:border-box;
	}
	
	.offline {
	visibility: hidden;
	font-style: bold;
	}
	#map {
	width: 100%;
	height: 500px;
	border:1px solid #000;
	}
}



/*Camera*/
#primeImage {
	width: 100%;
	height: 100%;
	display: none;
}