/* write your CSS in here */

/* Layout Small Screens */
@media screen and (max-device-width: 480px) {
	div#home {
		background-image: url(../images/background_small.jpg);
	}
	#logo{
		background-image: url(../images/logo_small.png) no repeat 0 100%;
		
	}
}

@media screen and (max-device-width: 768px) {
	div#home {
		background-image: url(../images/background_med.jpg);
	}
	#logo{
		background-image: url(../images/logo_med.png) no repeat 0 100%;
	}
}

@media screen and (max-device-width: 1024px) {
	div#home {
		background-image: url(../images/background_large.jpg);
	}
	#logo{
		background-image: url(../images/logo_large.png) no repeat 0 100%;
	}
}


/* Global Styles 

.offline {
	visibility: hidden;
	color: #ea1717;
	font-style: italic;
}
*/


#map {
	width: 100%;
	height: 200px;
	border:1px solid #000;
}


#usrimage {
	width: 200px;
	height: 200px;
	display: none;
}